[Desktop Entry]
Name=Tabby
Exec=tabby-wrapper
Terminal=false
Type=Application
Icon=com.eugeny.tabby
StartupWMClass=Tabby
Comment=A terminal for a modern age
Categories=Utility;
