[Desktop Entry]
Name=Terminus
Exec=terminus-wrapper
Terminal=false
Type=Application
Icon=com.eugeny.terminus
StartupWMClass=Terminus
Comment=A terminal for a modern age
Categories=Utility;
